@import "tailwindcss";

:root {
  --color-paper: #ffffff;
  --color-ink: #000000;
  --color-muted: #504e4e;
}

@theme inline {
  --color-paper: var(--color-paper);
  --color-ink: var(--color-ink);
  --color-muted: var(--color-muted);
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-jost);
  --font-script: var(--font-palayfair);
  --font-display: var(--font-playfair);
  --font-gilroy: var(--font-urbanist);
  --font-heavy: var(--font-anton);
  --font-mono: var(--font-jetbrains-mono);
  --font-valencia-light: var(--font-valencia-light);
  --font-dfvn-calathea: var(--font-dfvn-calathea);
  --font-playfair: var(--font-playfair);
  --font-blosta-script: var(--font-blosta-script);
  --font-losevka-charon: var(--font-losevka-charon);
  --font-dfvn-desirable-calligraphy: var(--font-dfvn-desirable-calligraphy);
  --font-svn-light-italic: var(--font-svn-light-italic);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-paper);
  color: var(--color-ink);
}
